<template>
    <div class="notices mt-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Noticias</strong>
                        <small>Form</small>
                        <div class="card-header-actions">
                            <a href="#" class="card-header-btn" data-toggle="collapse" data-target="#collapseCard1" aria-expanded="true"><i class="fas fa-angle-down"></i></a>
                        </div>        
                    </div>
                    <div class="card-body" id="collapseCard1">
                        <div class="row">
                            <div class="col-md-12">
                                <form id="noticeForm">
                                        <div class="row">
                                            <div class="col-md-7"></div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <datepicker placeholder="fecha" format="dd/MM/yyyy" :bootstrapStyling="true" :clearButton="true" v-model="date"></datepicker>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-sm btn-square btn-dark">
                                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                                <input type="checkbox" class="custom-control-input" v-model="news" id="checkbox0" true-value="yes" false-value="no">
                                                                <label class="custom-control-label" for="checkbox0">News</label>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" placeholder="titulo" class="form-control" v-model="title">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Descripcion:</label>
                                                    <input type="text" placeholder="breve descripcion" class="form-control" v-model="shortDescription"><br>
                                                    <ckeditor type="classic" v-model="description"></ckeditor>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <input type="text" placeholder="urlToimage" class="form-control" v-model="urlToImage">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="text" placeholder="tag" class="form-control" v-model="tag">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-square btn-primary btn-sm" @click="submitNotice()">Guardar Noticia</a>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-align-justify"></i>
                        <strong>Listado de Noticias</strong>
                        <div class="card-header-actions">
                            <a href="#" class="card-header-btn" data-toggle="collapse" data-target="#collapseCard2" aria-expanded="true"><i class="fas fa-angle-down"></i></a>
                        </div>              
                    </div>
                    <div class="card-body" id="collapseCard2">
                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Titulo</th>
                                    <th>Fecha</th>
                                    <th>Tag</th>
                                    <th>isNew</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>

    <!-- <tr v-for="item of notices" v-bind:key="item['.key']">
        <td v-if="!item.edit">{{ item.urlToImage | truncate(35) }}</td>
        <td v-else><input type="text" class="form-control" v-model="item.urlToImage"></td>
        <td v-if="!item.edit">{{ item.tag }}</td>
        <td v-else><input type="text" class="form-control" v-model="item.tag"></td>
        <td v-if="!item.edit">{{ item.date }}</td>  
        <td v-else><datepicker format="dd/MM/yyyy" :bootstrapStyling="true" :clearButton="true" v-model="item.date"></datepicker></td>
    </tr> -->

                            <tbody>
                                <tr v-for="item of notices" v-bind:key="item['.key']">
                                    <td v-if="!item.edit">{{ item.title | truncate(30) }}</td>
                                    <td v-else><input type="text" class="form-control" v-model="item.title"></td>
                                    <td v-if="!item.edit">{{ item.date }}</td>
                                    <td v-else><input type="text" class="form-control" v-model="item.date"></td>
                                    <td v-if="!item.edit">{{ item.tag }}</td>
                                    <td v-else><input type="text" class="form-control" v-model="item.tag"></td>
                                    <td v-if="!item.edit">{{ item.news }}</td>
                                    <td v-else>
                                        <input type="checkbox" class="form-control" v-model="item.news" true-value="yes" false-value="no">
                                    </td>
                                    <td v-if="!item.edit">
                                        <span class="btn-vue btn-square badge badge-danger" @click="removeNotice(item['.key'])">Borrar</span>
                                        <span class="btn-vue btn-square badge badge-primary" @click="setEditNotice(item['.key'])">Editar</span>
                                    </td>
                                    <td v-else>
                                        <span class="btn-vue btn-square badge badge-primary" @click="saveEdit(item)">Guardar</span>
                                        <span class="btn-vue btn-square badge badge-danger" @click="cancelEdit(item['.key'])">Cancelar</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { noticesRef } from '../../../firebase';
import Datepicker from 'vuejs-datepicker';

$('#datepicker').datepicker({
    uiLibrary: 'bootstrap4'
});

export default {
  components: {
    Datepicker
  },
  data(){
    return{
      title: '',
      shortDescription: '',
      description: '',
      urlToImage: '',
      tag: '',
      news: '',
      date: ''
    }
  },
  firebase: {
      notices: noticesRef
  },
  methods: {
    submitNotice() {
        noticesRef.push({ 
            title: this.title,
            shortDescription: this.shortDescription,
            description: this.description,
            urlToImage: this.urlToImage,
            tag: this.tag,
            date: this.date,
            news: this.news,
            edit: false
        })
        this.title = '';
    },
    removeNotice(key) {
        noticesRef.child(key).remove();
    },
    setEditNotice(key) {
        noticesRef.child(key).update({ edit: true });
    },
    cancelEdit(key) {
        noticesRef.child(key).update({ edit: false });
    },
    saveEdit(notice) {
        const key = notice['.key'];
        noticesRef.child(key).set({ 
            title: notice.title,
            shortDescription: notice.shortDescription,
            description: notice.description,
            urlToImage: notice.urlToImage,
            tag: notice.tag,
            date: notice.date,
            news: notice.news,
            edit: false
        })
    }
  }
}
</script>

<style scoped>
    .card {
        text-align: left;
        max-width: 98%;
    }
    .card-header-actions {
        float: right;
        margin-right: -.25rem;
    }
    .card-header-btn {
        padding: 0 .25rem;
        color: #73818f;
    }
    .btn-square {
        border-radius: 0;
    }

    .btn-vue:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .badge-danger:hover {
        color: #fff;
        background-color: #a72a36;
        border-color: #a72a36;
    }

    .badge-primary:hover {
        color: #fff;
        background-color: #0161c8;
        border-color: #0161c8;
    }

    .btn-vue-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .form-group {
        margin-bottom: 1rem;
    }
    .form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: .875rem;
        line-height: 1.5;
        color: #5c6873;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e4e7ea;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    td {
        text-align: justify;
        text-justify: inter-word;
    }
    .vdp-datepicker {
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
    }

    .custom-control {
        position: relative;
        display: block;
        min-height: 1.5rem;
        padding-left: 1.5rem;
    }
    .custom-control-input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
</style>
