<template>
  <div class="sidebar">
    <nav class="sidebar nav flex-column bg-dark ps" align="left">
        <li class="nav-item">
          <a class="nav-link active" href="#">
            <i class="nav-icon fab fa-vuejs"></i> Bienvenido
            <span class="badge badge-info">ADMIN</span>
          </a>
        </li>
        <li class="nav-title">Tools</li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class="nav-icon far fa-file-alt"></i> Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="nav-icon far fa-user"></i> Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"><i class="nav-icon far fa-file-archive"></i> Archivos</a>
        </li>
        <li class="nav-title">Session</li>
        <li class="nav-item">
          <a class="nav-link" v-on:click="logout" href="#"><i class="nav-icon fas fa-sign-out-alt"></i> Logout</a>
        </li>
        <!-- la barrita lateral -->
        <div class="ps__rail-x" style="left: 0px;bottom: -163px;">
          <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 163px; height: 163px; right: 0px;">
          <div class="ps__thumb-y" tabindex="0" style="top: 22px; height: 22px;"></div>
        </div>
        <!-- fin de la barrita lateral -->
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
  </div>
</template>

<script>
import firebase from 'firebase';

export default {
  methods: {
    logout: function() {
      firebase.auth().signOut().then(() => {
        this.$router.replace('login')
      })
    }
  }
}
</script>

<style>
  .sidebar {
    height: calc(100vh - 55px);
  }
  .sidebar {
    position: fixed;
    z-index: 1019;
    width: 200px;
    height: 100vh;
  }
  .sidebar {
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    -ms-flex-order: -1;
    order: -1;
  }
  .sidebar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    color: #fff;
    background: #2f353a;
  }
  .sidebar .nav {
    position: relative;
    -ms-flex: 1;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    width: 200px;
  }
  .sidebar .nav {
      transition: width .25s;
  }

  .sidebar .sidebar-minimizer:hover {
    background-color: rgba(0,0,0,.3);
  }

  .sidebar .sidebar-minimizer {
      position: relative;
      -ms-flex: 0 0 50px;
      flex: 0 0 50px;
      background-color: rgba(0,0,0,.2);
      border: 0;
  }

  .ps {
      overflow: hidden!important;
      -ms-touch-action: auto;
      touch-action: auto;
      -ms-overflow-style: none;
      overflow-anchor: none;
  }
  .nav-item {
    position: relative;
    margin: 0;
    transition: background .3s ease-in-out;
  }
  .nav-link.active {
    color: #fff;
    background: #3a4248;
  }
  .nav-link.active .nav-icon {
    color: #20a8d8;
  }
  .nav-link:hover {
    color: #fff;
    background: #20a8d8;
  }
  .nav-link:hover .nav-icon{
    color: #fff;
  }
  .nav-link {
    display: block;
    padding: .75rem 1rem;
    color: #fff;
    text-decoration: none;
    background: 0 0;
  }
  .nav-title {
    padding: .75rem 1rem;
    font-size: 80%;
    font-weight: 700;
    color: #e4e7ea;
    text-transform: uppercase;
  }
  .nav-icon {
    display: inline-block;
    width: 1.09375rem;
    margin: 0 .5rem 0 0;
    font-size: .875rem;
    color: #73818f;
    text-align: center;
  }

  .ps__rail-x {
    position: absolute;
    bottom: 0;
    display: none;
    height: 15px;
    opacity: 0;
    transition: background-color .2s linear,opacity .2s linear;
  }
  .ps__thumb-x {
    position: absolute;
    bottom: 2px;
    height: 6px;
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color .2s linear,height .2s ease-in-out;
  }
  .ps__rail-y {
    position: absolute;
    right: 0;
    display: none;
    width: 15px;
    opacity: 0;
    transition: background-color .2s linear,opacity .2s linear;
  }
  .ps__rail-y:hover>.ps__thumb-y, .ps__rail-y:focus>.ps__thumb-y {
    width: 11px;
    background-color: #999;
  }
  .ps__thumb-y {
    position: absolute;
    right: 2px;
    width: 6px;
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color .2s linear,width .2s ease-in-out;
  }
  .ps--active-x>.ps__rail-x, .ps--active-y>.ps__rail-y {
    display: block;
    background-color: transparent;
  }

  .sidebar .nav-link .badge {
    float: right;
    margin-top: 2px;
  }
  .badge-info {
    color: #23282c;
    background-color: #63c2de;
  }
  .badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
  }
</style>
