<template>
  <div class="hello">
    <div class="row">
      <div class="col-md-2">
        <AdminMenu></AdminMenu>
      </div>
      <div class="col-md-10">
        <Notices></Notices>
        <!-- <h1>{{ msg }}</h1>
        <h2>Essential Links</h2>
        <ul>
          <li><router-link to="/admin/notices">Noticias</router-link></li>
          <li><router-link to="/home">Home</router-link></li>
          <li><a href="https://forum.vuejs.org" target="_blank">Forum</a></li>
          <li><a href="https://gitter.im/vuejs/vue" target="_blank">Gitter Chat</a></li>
          <li><a href="https://twitter.com/vuejs" target="_blank">Twitter</a></li>
          <br>
          <li><a href="http://vuejs-templates.github.io/webpack/" target="_blank">Docs for This Template</a></li>
        </ul>
        <h2>Ecosystem</h2>
        <ul>
          <li><a href="http://router.vuejs.org/" target="_blank">vue-router</a></li>
          <li><a href="http://vuex.vuejs.org/" target="_blank">vuex</a></li>
          <li><a href="http://vue-loader.vuejs.org/" target="_blank">vue-loader</a></li>
          <li><a href="https://github.com/vuejs/awesome-vue" target="_blank">awesome-vue</a></li>
        </ul>
        <button v-on:click="logout">Logout</button> -->
      </div>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';
import AdminMenu from '@/components/back/AdminMenu'
import Notices from '@/components/back/notice/Notices'

export default {
  components: {
    AdminMenu,
    Notices
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  methods: {
    logout: function() {
      firebase.auth().signOut().then(() => {
        this.$router.replace('login')
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
body {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #e4e5e6;
}
</style>
