<template>
  <div class="container-fluid pt-3">
    <h2>BBC-NEWS</h2>
    <ul class="ListResults">
        <ListItem 
          :key="result.id" 
          :result="result" 
          v-for="result in results" 
        />
    </ul>
  </div>
</template>

<script>
  import Navbar from '@/components/front/content/Navbar.vue'
  import ListItem from '@/components/front/content/ListItem.vue'
  export default {
    components: {
      Navbar,
      ListItem
    },
    props: {
      results: Array
    }
  }
</script>

<style scoped>
  .container-fluid {
    background: white;
  }
  .ListResults {
    padding:0;
    list-style: none;
  }
  @media (min-width: 576px) {
    .ListResults { column-count: 2; }
  }
  @media (min-width: 768px) {
    .ListResults { column-count: 3; }
  }
  @media (min-width: 992px) {
    .ListResults { column-count: 4; }
  }
  @media (min-width: 1200px) {
    .ListResults { column-count: 5; }
  }
</style>