<template>
  <li class="ListItem">
    <div class="card">
      <img
        class="card-img-top"
        :src="result.urlToImage"
        alt=""
      />
      <div class="card-body">
        <span class="badge badge-info" style="float:left;">{{ result.tag }}</span><br>
        <h5 class="card-title">{{ result.title | truncate(50) }}</h5>
        <p class="card-text">{{ result.shortDescription }}</p>
      </div>
    </div>
  </li>
</template>

<script>
  export default {
    data({ result: { title, description, thumbnail, urlToImage }}) {
      const { path, extension } = thumbnail
      const srcImage = `${path}.${extension}`
      return { title, description, srcImage, urlToImage }
    },
    props: {
      result: Object
    }
  }
</script>

<style scoped>
  .ListItem {
    display: inline-block;
    width: 100%;
    margin: 1rem 0;
  }
  .card-body {
    min-height: 290px;
  }
</style>