<template>
  <!-- As a link -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">#NotiWebVue</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Mundo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Politica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Economia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Entretenimiento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tecnologia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Deportes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Viajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Estilo</a>
          </li>
        </ul>
      </div>
      <router-link to="/login">Login</router-link>
      <a class="nav-link" href="#">SingUp</a>
      <Search/>
  </nav>

</template>

<script>
import Search from '@/components/front/content/Search.vue'

export default {
  components: {
    Search
  }
}
</script>