<template>
    <div class="container">
        <div class="row"> 
            <div class="col-md-6">
                <div class="card" style="width: 50.6rem;">
                    <div class="card-body img-card big" style="background-image:url('https://colorlib.com/philosophy/wp-content/uploads/sites/20/2018/05/featured-guitarman.jpg');">
                        <div class="card-info-lg">
                            <h6><span class="tag badge badge-info">MUSIC</span></h6>
                            <h1 class="card-title">
                                What Your Music Preference Says About You and Your Personality.
                            </h1>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="card-sm" style="width: 25rem;">
                        <div class="card-body img-card small" style="background-image:url('https://colorlib.com/philosophy/wp-content/uploads/sites/20/2018/05/featured-guitarman.jpg');">
                            <div class="card-info">
                                <h6><span class="tag badge badge-success">MUSIC</span></h6>
                                <h5 class="card-title">
                                    The Pomodoro Technique Really Works.
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-sm" style="width: 25rem;">
                        <div class="card-body img-card small" style="background-image:url('https://colorlib.com/philosophy/wp-content/uploads/sites/20/2018/05/featured-guitarman.jpg');">
                            <div class="card-info">
                                <h6><span class="tag badge badge-success">MUSIC</span></h6>
                                <h5 class="card-title">
                                    What Your Music Preference Says About You and Your Personality.
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    data({ result: { title, description, thumbnail, urlToImage }}) {
      const { path, extension } = thumbnail
      const srcImage = `${path}.${extension}`
      return { title, description, srcImage, urlToImage }
    },
    props: {
      result: Object
    }
  }
</script>

<style scoped>
.container {
    text-align: left;
    font-family: "librebaskerville-bold", serif;
    margin: 0% 4% 2% 3%;
    max-width: 1360px;
    
}
.card:hover {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: .5;
}
.card-sm:hover {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: .5;
}
.card {
    border: none;
}
.card-sm {
    border: none;
    margin-left: 150px;
}
.img-card {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.big {
    height: 500px;
}
.small {
    height: 250px;
}
.card-title {
    color:#fff;
}
.card-info {
    margin-right: 90px;
    position: absolute;
    bottom: 10%;
    left: 8%;
}
.card-info-lg {
    margin-right: 30%;
    position: absolute;
    bottom: 10%;
    left: 4%;
}
.tag {
    font-family: "metropolis-bold", sans-serif;
    border-radius: 0px;
    padding: 5px 15px;
    letter-spacing: 1px;
}
</style>