<template>
    <div class="Home">
      <Navbar/>
      <News/>
      <!-- <Search v-on:do-search="searchNotices($event)"/> -->
      <!-- <ListResults v-bind:results="results.articles"/> -->
      <ListResults v-bind:results="notices"/>
    </div>
</template>

<script>
import * as serviceApi from '@/services/serviceApiRest.js'
import Search from '@/components/front/content/Search.vue'
import ListResults from '@/components/front/content/ListResult.vue'

import News from '@/components/front/content/News.vue'

import Navbar from '@/components/front/content/Navbar.vue'
import { noticesRef } from '../../firebase';

export default {
  data() {
    
    //const results = []

    const results = {"status":"ok","totalResults":10,"articles":[{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"Iowa suspect 'forgot dead jogger in car'","description":"A Mexican undocumented immigrant claims to black out after trailing his victim as she jogged.","url":"http://www.bbc.co.uk/news/world-us-canada-45266948","urlToImage":"https://ichef.bbci.co.uk/news/1024/branded_news/CF59/production/_103118035_08-21-2018_dci_cristhianbahenariveramugshot.jpg","publishedAt":"2018-08-22T18:27:21Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"Trump heaps praise on 'brave' Manafort","description":"The president lauds his former campaign chairman for refusing to \"make up stories\" to get a deal.","url":"http://www.bbc.co.uk/news/world-us-canada-45276734","urlToImage":"https://ichef.bbci.co.uk/images/ic/1024x576/p06j3596.jpg","publishedAt":"2018-08-22T17:37:37Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"DNA shows cave girl was half Neanderthal","description":"Genetic detective work gives a rare insight into the liaisons of early humans living 50,000 years ago.","url":"http://www.bbc.co.uk/news/science-environment-45271644","urlToImage":"https://ichef.bbci.co.uk/news/1024/branded_news/15ACE/production/_103128788_denisovacavempieva.jpg","publishedAt":"2018-08-22T17:01:03Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"Who is the woman in the blue dress?","description":"As a major news story breaks in the US, some are distracted by a journalist sprinting from the court.","url":"http://www.bbc.co.uk/news/world-us-canada-45271684","urlToImage":"https://ichef.bbci.co.uk/images/ic/1024x576/p06j5nz7.jpg","publishedAt":"2018-08-22T16:53:45Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"Hawaii braces for category five hurricane","description":"Lane is the second category five storm in recorded history to come within 350 miles of Hawaii.","url":"http://www.bbc.co.uk/news/world-us-canada-45274074","urlToImage":"https://ichef.bbci.co.uk/news/1024/branded_news/12B1C/production/_103127567_tv048788278.jpg","publishedAt":"2018-08-22T15:27:04Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"'Most convicted rapists in Sweden foreign'","description":"Swedish national TV says 58% of men convicted of rape in the past five years were born abroad.","url":"http://www.bbc.co.uk/news/world-europe-45269764","urlToImage":"https://ichef.bbci.co.uk/news/1024/branded_news/5A8E/production/_103128132_gettyimages-977979510.jpg","publishedAt":"2018-08-22T14:27:02Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"Trump's former lawyer 'happy' to testify","description":"Michael Cohen's personal lawyer says his client is \"more than happy\" to help the Russia inquiry.","url":"http://www.bbc.co.uk/news/world-us-canada-45270339","urlToImage":"https://ichef.bbci.co.uk/images/ic/1024x576/p06j40r8.jpg","publishedAt":"2018-08-22T11:41:59Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"Outrage as tourists strip off in fountain","description":"The two men were filmed laughing and joking in their underpants in the fountain at a Rome monument.","url":"http://www.bbc.co.uk/news/uk-45270664","urlToImage":"https://ichef.bbci.co.uk/news/1024/branded_news/11B68/production/_103125527_afeb44ef-29af-4c3a-9d69-9499ae8574d0.jpg","publishedAt":"2018-08-22T11:08:27Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"Will Trump remain bulletproof?","description":"The US president has survived numerous body blows, but will he shrug off the latest courtroom dramas?","url":"http://www.bbc.co.uk/news/world-us-canada-45266985","urlToImage":"https://ichef.bbci.co.uk/news/1024/branded_news/13F1B/production/_103119618_hi048782663.jpg","publishedAt":"2018-08-22T02:27:37Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"Body feared to be missing Iowa jogger","description":"College student Mollie Tibbetts was last seen jogging last month near her home in Brooklyn, Iowa.","url":"http://www.bbc.co.uk/news/world-us-canada-45262521","urlToImage":"https://ichef.bbci.co.uk/news/1024/branded_news/46DD/production/_103114181_captds44ure.jpg","publishedAt":"2018-08-21T15:02:31Z"}]}

    return { results }
  },
  firebase: {
      notices: noticesRef
  },
  components: {
    Navbar,
    Search, 
    ListResults,
    News
  },
  methods: {
    searchNotices: function(query) {
      serviceApi.searchNotices(query)
        .then( results => {
          this.results = results
        }) 
    }
  }
}
</script>

<style>
body {
  background: black;
}
</style>

