<template>
  <div class="login">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <h1>Login</h1>
                <p class="text-muted">Inicia sesion con tu cuenta</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                    <i class="fas fa-user"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" v-model="email" placeholder="Email">
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control" v-model="password" placeholder="Password">
                </div>
                <div class="row">
                  <div class="col-12">
                    <button type="button" class="btn-rounded btn btn-block btn-primary px-4" v-on:click="signIn">Entrar</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0">Olvide la contraseña?</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Registrate</h2>
                  <p>Bienvenido usuario usted no posee cuenta, lo que desea es obtener permisos para administrar Notiweb, debe registrarse y esperar las instrucciones. Muchas Gracias!</p>
                  <router-link to="/sign-up" type="button" class="btn btn-primary active mt-3">Registrar Ahora!</router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import firebase from 'firebase'

  export default {
    name: 'login',
    data: function() {
      return {
        email: '',
        password: ''
      }
    },
    methods: {
      signIn: function() {
        firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(
          (user) => {
            this.$router.replace('admin')
          },
          (err) => {
            alert('Oops. ' + err.message)
          }
        );
      }
    }
  }
</script>

<style scoped>  /* "scoped" attribute limit the CSS to this component only */
  .login {
    margin-top: 40px;
  }
  .form-control {
    width: 70% !important;
    padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #5c6873;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4e7ea;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .btn-rounded {
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.3);
  }
</style>
